<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.ev3.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/pepito9415/src/pepito9415/juancho70.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pepito9415.juancho70"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="pepito9415"/>
</launchConfiguration>
